---
layout : default
---

<div itemscope itemtype="http://schema.org/BlogPosting">
<div class="page-header">
  <meta itemprop="url" content="{{ page.url }}">
  <h1 itemprop="name">{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      Posted
      <span content="{{page.date}}" itemprop="datePublished">{{page.date}}</span>
      by <a class="fn" href="https://plus.google.com/{{data.author.googleplus
        }}?rel=author" rel="author" itemprop="author">{{ data.author.name }}</a>
    </div>
    <div class="content" itemprop="articleBody">
      {{{ page.content }}}
    </div>
    <div class="g-plus" data-action="share" data-height="24"></div>
    <div class="g-follow" data-annotation="bubble" data-height="24"
      data-href="//plus.google.com/116305544434538996428" data-rel="author"></div>
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
    {{# page.categories }}
      {{> categories_list }}
    {{/ page.categories }}
    </ul>
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
    {{# page.tags }}
      {{> tags_list }}
    {{/ page.tags }}
    </ul>
    <hr>
    <div class="pagination">
      <ul>
        {{# page.previous }}
          <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
        {{/ page.previous }}
        {{^ page.previous }}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {{/ page.previous }}

          <li><a href="{{urls.base_path}}archive">Archive</a></li>

        {{# page.next }}
          <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
        {{/ page.next }}
        {{^ page.next }}
          <li class="next disabled"><a>Next &rarr;</a>
        {{/ page.next }}
      </ul>
    </div>
    <hr>
    {{{ widgets.comments }}}
  </div>
</div>
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-CN'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>
